<template name="simulationTemplate">
  <div class="container">
    <h3>Commencer à visualiser votre consommation électrique</h3><br /><br />
    <div class="row">
      <div class="col-md-4 well">
        <p>Valeurs usuelles : </p>
        <p>Radiateur : 700 W, 1250 W, 1500 W</p>
        <p>PC fixe : 500 W</p>
        <p>Ampoule : 50 W</p>
        <p>Machine à laver : 1000 W</p>
        <p>Four : 1000 W</p>
        <p>Plaque à induction : 2500 W</p>
        <p>Sèche cheveux : 250 W</p>
        <p>Micro-ondes : 1000 W</p>
        
      </div>
      <div class="col-md-8">
        <h4>Lister vos appareils ici pour estimer votre consommation annuelle :</h4><br /><br />
          <div class="row form1">
            <div class="col-md-6">
                <select class="nom_device form-control" name="nom-device"> 
                         <option value="valeur1">Ampoule</option> 
                         <option value="valeur2">Four</option> 
                         <option value="valeur3">Four à micro-onde</option> 
                          <option value="valeur3">Plaque chauffante à induction</option> 
                          <option value="valeur3">Plaque vitrocéramique</option> 
                          <option value="valeur3">Radiateur électrique</option> 
                          <option value="valeur3">Ordinateur de bureau</option> 
                          <option value="valeur3">Ordinateur mobile</option> 
                          <option value="valeur3">Télévision LCD</option> 
                          <option value="valeur3">Télévision LED</option> 
                        <option value="valeur3">Machine à laver</option>
                        <option value="valeur3">Sèche-cheveux</option>
                      </select> 
            </div> 
            <div class="col-md-3">
        <input type="email" class="form-control puissance_device" placeholder="Puissance Watts">
           </div> 
            <div class="col-md-3">
          <input type="email" class="form-control duree_device" placeholder="Durée h/j">
              </div> 
            
        </div>
        <br />
        <button type="button" class="btn btn-success ajouter_device">Ajouter</button>
        <br /><br />
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Produit</th>
              <th>Puissance</th>
              <th>Durée h/an</th>
              <th>Coût EUR/an</th>
            </tr>
          </thead>
        
        
        
        
        {{#each devices}}
            <tr>
              <td>{{deviceName }}</td>
              <td>{{ devicePuissance  }} W</td>
              <td>{{ dureeDeviceAn }} h</td>
              <td>{{ prixDeviceAn }} EUR</td>
              <td><a href="" class="destroy"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        
        
        
        {{/each}}
      </table>      
        <p class="well">Votre facture électrique annuelle est évaluée à : {{somme_conso}} EUR</p>
        
        
      </div>
      
    </div> 
{{> templateChart}}
  </div>
</template>  